<div class="jumbotron">
    <h1>DESAFIO NOX BITCOIN</h1>
    <p class="lead">NEGOCIE CRIPTOMOEDAS DE FORMA ESTRATÉGICA</p>
    <p><a href="https://www.noxbitcoin.com.br/" class="btn btn-primary btn-lg">Leia mais &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>
            O melhor
            investimento
        </h2>
        <p>Temos estratégias personalizadas de investimento para todos os cenários do preço do Bitcoin, oferecendo flexibilidade, diversificação e proteção para sua carteira de investimentos.</p>
    </div>
        <div class="col-md-4">
            <h2>
                Atendimento
                diferenciado
            </h2>
            <p>Nossa primeira preocupação é ter o melhor atendimento do mercado. Analisamos o perfil de cada clientes antes de investir para garantir que você está contratando as melhores opções.</p>
        </div>
        <div class="col-md-4">
            <h2>
                Taxa
                ZERO
            </h2>
            <p>Taxa? Que taxa? A Nox Bitcoin não cobra nenhuma taxa de saque, depósito ou de negociação. Aqui você só paga a taxa da rede da Blockchain e as transferências bancárias.</p>
        </div>
    </div>

